extends layout

block content
  h1= title
  p Put repo
  form#clone(name="clone", action="/git/clone", method="post")
        p Repo
        input(type="text", name="repoName")
        input(type="text", name="gitUrl", style="width: 50%")
        input(type="submit", value="Clone")


  button#parse "Parse Repo"
  p "Repo Data"
  p#repodata
