doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-2.1.4.js")
    script(src="javascripts/sendrepo.js")
    script(src="/moment/moment.js")
  body
    block content
